@charset "UTF-8";
@font-face {
    font-family: 'latolight';
    src: url('font/lato-light-webfont.eot');
    src: url('font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-light-webfont.woff2') format('woff2'),
         url('font/lato-light-webfont.woff') format('woff'),
         url('font/lato-light-webfont.ttf') format('truetype'),
         url('font/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('font/lato-regular-webfont.eot');
    src: url('font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-regular-webfont.woff2') format('woff2'),
         url('font/lato-regular-webfont.woff') format('woff'),
         url('font/lato-regular-webfont.ttf') format('truetype'),
         url('font/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cardobold';
    src: url('font/cardo-bold-webfont.eot');
    src: url('font/cardo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cardo-bold-webfont.woff2') format('woff2'),
         url('font/cardo-bold-webfont.woff') format('woff'),
         url('font/cardo-bold-webfont.ttf') format('truetype'),
         url('font/cardo-bold-webfont.svg#cardobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight:lighter;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
*{
	outline:none;
}
body{
	margin:0;
	padding:0;
	font-family: 'latolight';
	font-size:12px;
}
.contenedor {
	width:1300px;
	margin:auto;
}
.ctndr100{
	float:left;
	width:100%!important;
}
.barraTop{height:26px; margin-top:9px;}
.caja-fecha{font-size: 16px!important; font-family: 'latolight'!important; margin-top: 20px;}
.caja-fecha span {font-size: 16px!important; font-family: 'latolight'!important;}
a.cantItems{
	background:#848484;
	color:#fff;
	width:18px;
	height:18px;
	border-radius:40px;
	text-align:center;
	font-size:12px;
	line-height:18px;
}
.carro{
	height:18px;
}
.carro i{
	font-size:20px;
	color:#848484;
}
.totalHeader{
	margin-right:2px;
	font-size:14px;
	color:#848484;
}
.menuTipo{
	font-size:14px;
    margin-right: 10px;
    color: #848484;
    border-right: 1px solid #a1acac;
    padding-right: 12px;
}
.buscar{
	color:#848484;
	font-size:14px;
	line-height:15px;
}
.buscar span{
	float:left;
	margin:2px 2px 0 0;
}
.buscar i{
	font-size:22px;
	float:left;
}
.barraTop a{
	float:right;
	text-decoration:none;
	margin-left:4px;
}
h1.contLogo{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
}
h1.contLogo a{
	width:243px;
	height:128px;
	background: url(img/logo.svg) center center no-repeat;
	margin:auto;
	display: inline-block;
}


/* Menu */
.menu{
	float:left;
	width:100%;
	height:53px;
	border-top:solid 1px #dcdcdc;
	border-bottom: solid 1px #dcdcdc;
	font-family: 'latolight';
	margin-top:20px;
	font-size:15px;
}
.menu ul{
	float:left;
	width:100%;
	height:53px;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}
.menu ul li{
	list-style-type:none;
	display:inline-block;
	position:relative;
}
.menu ul li:hover > ul{
	display:block;
}
.menu ul li a{
	float:left;
	text-align:center;
	margin:0 30px;
	text-decoration:none;
	text-transform:uppercase;
	line-height:53px;
	color:#333;
}
.menu ul ul{
	position:absolute;
	top:53px;
	left:0px;
	width:300px;
	padding:0;
	margin:0;
	background:#fff;
	height:auto;
	padding-bottom:15px;
	display:none;
	box-shadow:1px 1px 5px #ccc;
	z-index:9909;
	
}
.menu ul ul li{
	float:left;
	width:100%;
}
.menu ul ul li a{
	line-height:40px;
	text-align: left;
}
.menu ul ul li:hover{
	background:#ccc;
}
.menu2{
	display:none;
}
.menuFantasma{
	display:none;
	height:60px;
	float:left;
	width:100%;
}
.menuFixed {
	position:fixed;
	top:0;
	left:0;
	z-index:9998;
	background:#fff;
	height:76px;
	margin-top:0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.menuFixed .menu2{
	display:block;
}
.menuFixed .logo2{
	float:left;
	margin-top:15px;
}
.menuFixed .contMenuFixed{
	width:1300px;
	margin:0 auto;
}
.menuFixed .finalMenu{
	float:right;
	border-left: solid 1px #ccc;
	margin-top:17px;
	padding-left:20px;
}
.menuFixed .finalMenu a{
	float:right;
}
/* Fin menu */
.menuFixed.menu ul{
	float:right;
	width:auto;
	margin-top:2px;
}
.menuFixed.menu ul li a{
	margin: 0 15px;
}
.menuFixed.menu ul ul{
	top:53px;
	left:0px;
	width:250px;
	padding:0;
	margin:0;
	background:#fff;
	height:auto;
	padding-bottom:15px;
	display:none;
}

.slider{
	overflow:hidden;
	/*
height:600px;
*/
}
h2{
	float:left;
	width:100%;
	text-align:center;
	margin:20px 0 20px 0;
	padding:0;
	font-size:22px;
	font-weight:lighter;
	color:#333;
}
.grillaProducto{
	float:left;
	margin-bottom:30px;
	/*
height:380px;
*/
}
.intGrilla{
	float:left;
	width:96%;
	margin:0 2%;
	position: relative;
	text-align: center;
}

.intGrilla .mostrar{
	opacity: 0;
	transition: .2s;
}
.intGrilla:hover .mostrar{
	opacity: 1;
}
.contImgGrilla{
	margin-bottom:10px;
	position:relative;
}
.grillaProducto a{
	float:left;
	width:100%;
	font-size:15px;
	color:#333;
	text-transform:uppercase;
}
.grillaProducto a.valorGrilla{
	float:left;
	width:100%;
	font-size:15px;
	color:#333;
	font-family: 'latoregular';
	margin-top:10px;
}
.triangulo {
    height: 22px;
	position:absolute;
	right:0;
	top: 20px;
	padding: 0 15px;
	background-color: #9b2534;
	color:#fff;
}
.triangulo span{
	font-family: 'latoregular';
	font-size:14px;
}
.ahora{
	color:#9b2534;
}
.antes{
	color:#ccc;
	text-decoration:line-through;
}
.catDestacados{
	margin-top:30px;
	/*height:300px;
	overflow:hidden;
	height:576px;*/
	margin-bottom:20px;
}
.colCatDest1{
	float:left;
	width:32.3%;
	margin:0 0.5%;
	position:relative;
}
.colCatDest2{
	float:left;
	width:100.7%;
	margin-bottom:15px;
	position:relative;
}
.tituloCatDest{
	position:absolute;
	width:calc(100% - 40px);
	margin:0 20px;
	font-size:40px;
	color:#333;
	line-height:40px;
}
.tituloCatDest span{
	font-family: 'latoregular';
}
.posicion1{ top:20px; z-index:99;}
.posicion2{ top:20px; text-align:right; color:#fff; z-index:99;}
.posicion3{ text-align:right; color:#fff; bottom:20px; z-index:99;}
.posicion4{ top:20px; color:#fff; z-index:99;}
.catDestacados a img{
	-webkit-transition: all .5s;
	 -moz-transition: all .5s;
	 -o-transition: all .5s;
	 transition: all .5s;
}
.catDestacados a:hover img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.infoParalax{
	width:80%;
	margin:60px auto 60px auto;
	color:#fff;
}
.infoParalax h2{
	color:#fff;
	font-weight:lighter;
	font-size:39px;
}
.infoParalax p{
	color:#fff;
	font-family: 'latolight';
	font-weight:lighter;
	font-size:21px;
	text-align:center;
	margin-bottom:60px;
}
.infoParalax p a{
	display:inline-block;
	padding:10px 20px;
	text-transform:uppercase;
	color:#fff;
	border:solid 1px #fff;
	font-family: 'latolight';
	font-size:16px;
}


.filtros{
	float:right;
	width:30%;
	min-height:30px;
	margin-top: 30px;
}
.titulo{
	float:right;
	width:40%;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
.titulo h2{
	margin:0;
	text-transform:uppercase;
}
.breadCrumbs{
	float:left;
	margin-top:40px;
	font-size:14px;
	color:#ccc;
	font-family: 'latoregular';
	width:30%;
	text-transform:lowercase;
}
.breadCrumbs a{
	color:#ccc;
}
.breadCrumbs a.actual{
	color:#666;
}
#filtroPrecio,
#filtroMaterialidad{
	float:right;
	margin-top:30px;
}
#filtroPrecio{
	margin-left:10px;
}
.contBtnMas{
	margin-bottom:50px;
	margin-top:50px;
	text-align:center;
}
.contBtnMas a{
	display:inline-block;
	height:46px;
	line-height:46px;
	width:160px;
	text-align:center;
	color:#666;
	border:solid 1px #666;
	font-size:16px;
	text-transform:uppercase;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 
.contBtnMas a:hover{
	background:#232323;
	color:#fff;
}
.contTextosFijos{
	float:left;
	width:70%;
	margin:30px 15%;
	font-size:16px;
}
h4{
	float:left;
	width:100%;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-weight:lighter;
	font-family: 'latoregular';
}
.linea{
	float:left;
	width:100%;
	height:1px; background:#ccc;
	margin:20px 0;
}
.slider2{
	float:left;
	width:100%;
	min-height:500px;
	margin-bottom:1100px;
}
.columnaAbsolutaLeft{
	position:absolute;
	left:0;
	width:50%;
	top:733px;
	z-index:999;
}
.cuadroTexto1{
	float:right;
	width:80%;
	color:#fff;
	background: rgba(29, 29, 28, 0.8);
	/* height:240px; */
}
.cuadroTexto1 p{
	float:left;
	display:block;
	padding:60px;
	font-size:16px;
	margin:0;
}
.mapaTienda{
	float:right;
}
.columnaAbsolutaRight{
	position:absolute;
	right:0;
	width:50%;
	top:800px;
	z-index:998;
}
.colTxtGris{
	float:left;
	width:calc(80% - 100px);
	background:#ededed;
	color:#333;
	padding:50px;
}

.colTxtGris h4{
	float:left;
	margin:0 0 30px 0;
	padding: 0 0 0 0;
	width:100%;
	font-family: 'latoregular';
	font-weight:lighter;
	font-size:30px;
}

.colTxtGris p{
	float:left;
	width:100%;
	margin:0 0 20px 0;
	padding:0;
	font-size:16px;
}
.formularioTienda{
	float:left;
	width:calc(70% - 100px);
	padding:20px 50px 30px 50px;
}

.formularioTienda h5{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	font-weight:lighter;
	font-size:24px;
}
.formularioTienda form{
	float:left;
	width:100%;
	margin-top:20px;
}
.formularioTienda form label{
	float:left;
	width:100%;
	font-family: 'latoregular';
	margin-bottom:5px;
	color:#666;
}
.campoInterior{
	float:left;
	width:calc(100% - 32px);
	font-family: 'latoregular';
	border:solid 1px #333;
	height:48px;
	font-size:16px;
	padding:0 15px;
	margin-bottom:15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.campoInterior2{
	float:left;
	width:calc(100% - 32px);
	font-family: 'latoregular';
	border:solid 1px #333;
	height:148px;
	font-size:16px;
	padding:0 15px;
	margin-bottom:15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.btnForm{
	float: left;
    text-align: center;
    width: 218px;
    background: #232323;
    color: #fff;
    height: 54px;
    line-height: 54px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
	border:none;
	cursor:pointer;
	font-size:16px;
	font-family: 'latolight';
}
.btnForm:hover{
	background:#000;
}
.tituloBusquedas{
	float:left;
	width:100%;
	text-align:center;
	font-size:16px;
}
.burdeo{
	color:#9b2534;
}
.contProducto{
	margin-top:20px;
}
.galProducto{
	float:left;
	width:55%;
}
.colThumbs{
	float:left;
	width:96px;
	margin-right:10px;
}
.colThumbs a{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.imgGal{
	float:left;
	width:calc(100% - 106px);
}
.datosProducto{
	float:right;
	width:calc(45% - 30px);
	margin-left:30px;
}
.nombreProducto{
	text-align:left;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:0;
	margin-top:0;
}
.datosProducto h6{
	float:left;
	width:100%;
	font-size:12px;
	margin:0;
}
.radiosButon{
	float:left;
	width:100%;
	margin-top:50px;
}
.radiosButon h5{
	float:left;
	width:100%;
	font-size:16px;
	margin:0;
	padding:0;
}
.contR{
	float:left;
	margin-top:20px;
	background:#fbfbfb;
	width:100%;
	padding:20px 0;
}
.contTerm{
	float:left;
	width:45%;
	margin-left:5%;
	margin-bottom:10px;
}
.nomMedida{
	float:left;
	margin-left:0px;
	margin-top:3px;
	font-family: 'latoregular';
}
.radio{
	float:left;
}
.texturas{
	margin-top:10px;
}
.datosCarro{
	float:left;
	width:100%;
	margin-top:30px;
}
.valorFicha{
	float:left;
	font-size:30px;
	margin-right:20px;
	margin-bottom:20px;
}
.agregar{
	float:left;
	width:auto;
}
.btnAgregar{
	float:left;
	width: 200px;
	text-align:center;
	height:45px;
	color:#fff;
	background:#232323;
	line-height:45px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.btnAgregar:hover{
	background:#000;
}
.spinner{
	float:left;
	width:60px;
	height:43px;
	border-top:solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-left: solid 1px #ccc;
}
.campoSpinner{
	float:left;
	width:30px;
	height:41px;
	border:none;
	text-align:center;
	font-size:16px;
}
a.masProductos, a.spinner_mas{
	float:left;
	width:20px;
	height:20px;
	background:url(img/flechaTop.jpg) center center no-repeat;
}
a.menosProductos, a.spinner_menos{
	float:left;
	width:20px;
	height:20px;
	background:url(img/flechaAbajo.jpg) center center no-repeat;
}
.acordion{
	float:left;
	width:100%;
	margin-top:30px;
	border-bottom:solid 1px #ccc;
}
.acordion a{
	float:left;
	border-top:solid 1px #CCC;
	height:50px;
	width:100%;
	line-height:50px;
	color:#666;
	font-size:16px;
}
.acordion div{
	float:left;
	width:100%;
	display:block;
	font-size:14px;
}
.iconTienda{
	float:left;
	margin-top:20px;
}
.nIcon{
	font-size:16px;
	margin:20px 0 0 10px;
	float:left;
}
.contCarro1{
	float:left;
	width:100%;
	height:680px;
	background:url(img/fondoCarro1.jpg);
	background-size:cover;
}
.absoluto{
	position:absolute;
	z-index:99;
}
.absoluto .breadCrumbs span,
.absoluto .breadCrumbs a{
	color:#fff;
}
.absoluto .breadCrumbs{
	margin-left:30px;
	margin-top:20px;
}
.contCarro1{
	width:80%;
	height:356px;
	background:;
	margin-left:10%;
}
.ahoraFicha{}
.antesFicha{color:#999; text-decoration:line-through;}

#masDestacadosHome{
	border:solid 1px #8c8c8c;
	background:#fff;
	padding:0 20px;
	text-align:center;
	height:40px;
	line-height:40px;
	float:right;
	font-size:14px;
	color:#333;
	width: 16%;
	margin-right: 8px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

}
#masDestacadosHome:hover{
	border:solid 1px #000;
}
.destacadosOcultos{
	display:none;
}
.contBuscador{
	position:fixed;
	z-index:999;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0, .4);
	display:none;
}
#buscador{
	width:calc(60% - 4px);
	height:50px;
	margin:200px 20% 0 20%;
	background:#fff;
	border:solid 2px #ccc;
	display:inline-block;
}
.campoBuscar{
	float:left;
	width:calc(80% - 40px);
	height:50px;
	font-size:24px;
	border:none;
	padding:0 20px;
	font-family: 'latolight';
}
.btnBuscar{
	float:left;
	width:20%;
	padding:0;
	margin:0;
	border:none;
	color: #fff;
    background: #232323;
	height:50px;
	font-size:16px;
	font-family: 'latolight';
	text-transform:uppercase;
	cursor:pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.btnBusca:hover{background: #000000;}









/* Footer */
.footer{
	width:1300px;
	margin:40px auto 30px auto;
}
.filaNewsletter{
	float:left;
	width:100%;
}
.filaNewsletter form{
	width:760px;
	margin:auto;
}
.campoNewsletter{
	display: block;
    width: 85%;
    text-align: center;
    padding: 0 20px;
    border: solid 1px #ccd3d3;
    height: 43px;
    color: #acb7b8;
    font-size: 12px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.campoNewsletter:hover{
	border:solid 1px #6a6a6a;
}
.btnNewsletter{
	text-align: center;
    width: 43%;
    background: #d5d5d5;
    color: #fff;
    height: 43px;
    line-height: 43px;
    display: block;
    margin-top: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 16px;
}
.btnNewsletter:hover{
	background-color:#000;
}
.filaMenuFooter{
	height:60px;
	width:100%;
	border-top:solid 1px #ccc;
	margin-top:40px;
	float:left;
}
.filaWebpay{
	text-align:center;
}
.filaFirma{
	text-align:center;
	margin:15px 0;
	font-size:14px;
	font-family: 'latoregular';
	color:#999999;
}
.filaFirma a,
.filaFirma span{
	display:inline-block;
	padding:0 5px;
}
.menuFooterIzquierdo{
	float:left;
	width:28%;
	margin-top:20px;
}
.menuFooterIzquierdo a{
	float:left;
	margin-right:10px;
	text-transform:uppercase;
	color:#666;
	font-family: 'latoregular';
	-webkit-transition: color .3s;
	 -moz-transition: color .3s;
	 -o-transition: color .3s;
	 transition: color .3s;
}
.menuFooterIzquierdo a:hover{
	color:#000;
}
.menuFooterDerecho{
	float:right;
	width:71%;
	margin-top:20px;
}
.menuFooterDerecho a{
	float:right;
	margin-left:10px;
	text-transform:uppercase;
	color:#666;
	font-family: 'latoregular';
}
.menuFooterDerecho a.redes{
	margin-top:-5px;
}
.telefonoFooter{
	border-right: solid 1px #ccc;
	border-left:solid 1px #ccc;
	padding:0 15px;
}
.page-2,
.page-3,
.page-4,
.page-5,
.page-6,
.page-7,
.page-8,
.page-9,
.page-10,
.page-11,
.page-12,
.page-13,
.page-14,
.page-15{
	display:none;
}
.error404 h2{
	float:left;
	width:100%;
	text-align:center;
	font-size:100px;
	text-transform:uppercase;
	margin:0 0 0 0;
}
.error404 h2 span{font-family: 'latoregular';}
.error404 h3{
	float:left;
	width:100%;
	text-align:center;
	font-size:30px;
	text-transform:uppercase;
}
#uniform-region,
#uniform-comuna,
#uniform-localidad{
	float:left;
	width:calc(100% - 16px)!important;
}
#uniform-region span,
#uniform-comuna span,
#uniform-localidad span{
	float:left;
	width:calc(100% - 38px)!important;
}
.btnMenu{display:none;}

.content_products{
	float: right;
	width: 80%;
	display: inline-grid;
	grid-template-columns: repeat(4, 25%);
}
.menu-lateral{
	width: 20%;
	/*background: #ccc;*/
	height: 400px;
	float: left;
	font-size: 16px;
	padding: 0 9px;
	box-sizing: border-box;
	color: #333;
}

.menu-lateral ul{
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.menu-lateral ul li{
	list-style: none;
}

.menu-title{
	border-bottom: 1px solid #a7a7a7;
	padding: 3px 9px;
	font-weight: bold;
}

.menu-lateral ul li a{
	color: #333;
	transition: .4s;
	display: block;
	padding: 5px 10px;
}

.menu-lateral ul li a:hover{
	background: #d5d5d5;
}

.menu-lateral-active{
	background: #d5d5d5;
}

.add-grilla{
	position: relative;
    margin-top: -69px;
    left: 0;
    height: 25px !important;
    width: 100%;
    background-color: #d5d5d5;
	color: #fff !important;
	text-align: center;
	font-size: 14px !important;
    line-height: 25px;
}

.add-grilla:hover{
	background-color: #b8b8b8;
}

.medidasGrilla{
	font-size: 14px !important;
    text-transform: capitalize !important;
}
.unidadesGrilla{
	color: #bb2a3e !important;
	font-size: 14px !important;
	text-transform: capitalize !important;
}
.contCarroHeader{
	position: relative;
}
#popup-producto{
	position: fixed;
	background: #fff;
	width: 300px;
	display: none;
	border: 1px solid #c4c4c4;
	right: 3%;
	top: 40px;
	z-index: 9999;
	box-shadow: 4px 4px 6px rgba(0,0,0,.1);
	-moz-box-shadow: 4px 4px 6px rgba(0,0,0,.1);
	-webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.1);
	box-sizing: border-box;
	padding: 20px;
}
#popup-producto h3{
	margin-top: 0;
}
.pop-cont{
	max-width: 300px;
}
.pop-cont a{
	background: #d5d5d5;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	margin-top: 10px;
}
.pop-data{
	float: right;
	width: 40%;
}
.pop-subtotal{
	font-size: 14px;
	margin-top: 10px;
}
/*mi-carro.php */
.carroLateral{
    float: left;
    width: 70%;
}
.resumenCarroDerecha{
    float: right;
    width: calc(30% - 20px);
}
.filaTitulos{
	float:left; 
	width:100%; 
	color: #414042; 
	font-size: 14px;
	margin-bottom:20px;
	text-transform: uppercase;
}
.filasProductos{float:left; width:100%; border-bottom:solid 1px #ccc; margin-top:20px; padding-bottom:20px; color:#414042; font-size:16px;}

.espacioImagen{float:left; width:10%;height:10px;}
a.imgFilaProducto{float:left; width:10%;}

.columnaTituloNombre{float:left; width:calc(30% - 20px); margin-left:20px; color: #414042 !important}
.columnaNombre{float:left; width:calc(30% - 20px); margin-left:20px;}

.columnaTituloPrecioUnitario{float:left; width:calc(20% - 20px); margin-left:20px; color: #414042 !important}
.columnaPrecioUnitario{float:left; width:calc(20% - 20px); margin-left:20px;}

.columnaTituloCantidad{float:left; width:calc(13% - 20px); margin-left:20px; color: #414042 !important}
.columnaCantidad{float:left; width:calc(13% - 20px); margin-left:20px;}

.columnaTituloTotalFila{float:left; width:calc(20% - 20px); margin-left:20px; color: #414042 !important}
.columnaTotalFila{float:left; width:calc(20% - 20px); margin-left:20px;}

.columnaTituloEliminar{float:right; width:5%;}
.columnaEliminar{float:right; width:5%; }

.contTotales{
	float:right;
	width:calc(100% - 32px);
	border: solid 1px #ccc;
	padding:15px;
}
.contTotales h4{
	float:left;
	width:100%;
	font-size:16px;
	font-weight: lighter;
	color:#414042;
	margin:0 0 20px 0;
	padding:0 0 0 0;
	text-transform: uppercase;
	font-family: 'latolight';
}
.contTotales h5{
	float:left;
	width:100%;
	font-family: 'akrobatsemibold';
	font-size:20px;
	color:#435962;
	margin:0 0 30px 0;
	padding:0 0 0 0;
}
.contValoresResumen{
	float:left;
	width:100%;
}
.ancho100{width:100%; float:left;}
.ancho50{width:50%;; float:left;}
.filaValoresResumen {
    margin-bottom: 10px;
	font-size:16px;
	text-transform: uppercase;
	color:#414042;
}
.filatoolTip{
	float:left;
	width:100%;
	font-size:10px;
	color:#ccc;
	margin-bottom:20px;
}
.nombreResponsive{display:none;}
.btnCompletarCompra {
    float: left;
    width: 100%;
    background: #d5d5d5;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 53px;
    line-height: 53px;
    margin-bottom: 10px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.btnCompletarCompra:hover {
	background-color:#b7b7b7;
}
.btnAgregarMasProductos {
    float: left;
    width: 100%;
    background: #fff;
    border: solid 1px #797979;
    color: #797979;
    text-transform: uppercase;
    text-align: center;
    height: 53px;
    line-height: 53px;
}
.productos-100{
	width: 100%;
}

.grid-5{
	grid-template-columns: repeat(5, 20%);
}

footer{
	background: #797979;
	padding: 32px 0 75px 0;
	margin-top: 40px;
	float:left;
	width:100%;
}

.content_foot{
	width: 94%;
	margin: auto 3%;
	/*display: grid;
	grid-template-columns: repeat(2, 20%) 30% 30%;*/
	float:left;
}

.content_foot div{
	box-sizing: border-box;
	/*float:left;*/
}
.colFooter1{float:left; width:20%;}
.colFooter2{float:left; width:20%;}
.colFooter3{float:left; width:30%;}
.colFooter4{float:left; width:30%;}

.content_foot div h3{
	text-transform: uppercase;

	font-size: 16px;
	margin-top: 0;
	color: #fff;
}

.content_foot div ul{
	margin: 0;
	padding: 0;
	color: #fff;
}

.content_foot div ul li{
	list-style: none;
	margin-bottom: 10px; 
	font-size: 14px;
}

.content_foot div ul li a{
	color: #fff;
}

.content_foot div p{
	color: #fff;
	margin-bottom: 25px;
	font-size: 13px;
}

.siguenos{
	margin-top: 32px !important;
	margin-bottom: 0;
}

.logocyberfooter{
	width: 90%;
	margin-top: 20px;
}

.logowpfooter{
	margin: 5px 0 0 calc(100% - 169px);
}

.sello_wp{
	/*display: grid;
	grid-template-columns: 23% 23% 54%;*/
	float:left;
	width:100%;
}
.contImgFooter1{float:left; margin-top:30px;}
.contImgFooter2{float:left; width:20%; margin-top:20px;}
.contImgFooter3{float:left; margin-top: 20px; margin-left: 1%;}
.positionFixed{
	position: fixed;
	top: 90px;
	width: 19%;
}
#buscador{
	width:auto;
	height:30px;
	float: right;
	margin:0;
	background:#fff;
	display:inline-block;
	border: none;
}
.campoBuscar{
	background-color: #d5d5d5;
	color: #fff;
	float:right;
	width:170px;
	height:30px;
	font-size:14px;
	margin-top: -6px;
	line-height: 30px;
	border:none;
	padding:0 10px;
	font-family: 'latolight';
	display: none;
	overflow: hidden;
}

.btnBuscar{
	background:url('img/lupa.jpg') center no-repeat;
	float:right;
	width:23px;
	padding:0;
	margin:0;
	border:none;
	color: #fff;
	height:19px;
	font-size:16px;
	font-family: 'latolight';
	text-transform:uppercase;
	cursor:pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.btnBusca:hover{background: #000000;}

.btnBuscar-fix{
	background:url('img/lupa.jpg') center no-repeat;
	float:right;
	width:30px;
	padding:0;
	margin:0;
	border:none;
	color: #fff;
	height:27px;
	font-size:16px;
	font-family: 'latolight';
	text-transform:uppercase;
	cursor:pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.buscador_fixed{
	display: none;
	position: absolute;
	right: 3.5%;
	top: 43px;
}

.buscador_fixed span{
	margin-top: 5px;
}

.buscador_fixed .campoBuscar{
	height: 25px !important;
	margin-top: 0;
}

#buscador-fix{
	width:auto;
	height:30px;
	float: right;
	margin:0;
	background:#fff;
	display:inline-block;
}
.pop_delete{
	position: fixed;
	background: #fff;
	border: 2px solid #797979;
	width: 85%;
	text-align: left;
	max-width: 450px;
	box-sizing: border-box;
	padding: 10px 5%;
	left: calc(50% - 225px);
	box-shadow: 0px 3px 5px rgba(0,0,0, 0.1);
	display: none;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pop_delete p{
	color: #797979;
	font-weight: 200 !important;
	font-size: 1.5em;
}

.buttons_confirm{
	display: grid;
	grid-template-columns: 50% 50%;
	margin: auto;
}
.btn_confirm{
	background: #797979;
	padding: 5px 20px;
	max-width: 85px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin:auto;
	transition: .4s;
}
.btn_confirm:hover{
	background: #666666;
}
.menuSelectFiltro{float:right; width:220px;}
.menuSelectFiltro ul{
	float:left; 
	width:100%; 
	padding:0; 
	margin:0; 
	list-style-type:none; 
	background-image: url(css/images/selector.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #666;
	height:32px;
	font-size:14px;
}

.menuSelectFiltro ul li{
	float:left; width:100%; 
	padding:0; 
	margin:0; 
	list-style-type:none; 
	height:32px; 
	line-height:32px; 
	position:relative;
	color: #464545;
}
.menuSelectFiltro ul li span{ float:left; margin-left:10px;}
.menuSelectFiltro ul ul{ 
	background-image:none; 
	background-color:#fff; 
	border:solid 1px #ccc; 
	position:absolute; 
	top:32px; 
	left:-1px; 
	border: 1px solid #666; 
	z-index:999; 
	height:auto;
	display:none;
}
.menuSelectFiltro ul ul li{float:left;}
.menuSelectFiltro ul ul li a{color: #464545;padding-left: 10px;display: block;}
.menuSelectFiltro ul ul li:hover a{color:#fff;}
.menuSelectFiltro ul ul li:hover{background-color:#464545;}
.menuSelectFiltro ul li:hover > ul{display:block;}


.menuSelectFiltro ul ul li.seleccionado{background-color:#464545;}
.menuSelectFiltro ul ul li.seleccionado a{color:#fff;}
.icon_menu{
	position: absolute;
   top: 17px;
   right: 13px;
   cursor: pointer;
}
.i_men{
	display: none;
}
.img_pagestatica{
	width: 100%;
	max-width: 650px;
}
.img_pagestatica2{
	width: 100%;
	max-width: 200px;
}
.paginacion{
	float: left;
	clear: both;
	width: 100%;
}
.paginacion .paginate{
	width: 50px;
}
.paginacion .current{
	background: #232323;
	color: #fff;
	width: 50px;
}
.paginacion .inactive{
	width: 50px;
	border: solid 1px #232323;
	text-align: center;
	color: #232323;
	font-size: 16px;
	display: inline-block;
	height: 46px;
	line-height: 46px;
	opacity: .5;
}
.menu-lateral svg{
	float: right;
	margin-right: 10px;
	margin-top: 6px;
}
.suboff{
	box-sizing: border-box;
}
.suboff li{
	list-style: none;
}
.suboff li a{
	width: calc(100% - 20px);
	background: #f8f8f8;
	padding-left: 20px;
}
.suboff .active{
	background: rgba(0,0,0, .1);
}
.opciones_producto{
	width: 100%;
	clear: both;
	margin-top: 15px;
}
.opciones_producto .row-block{
	margin-bottom: 12px;
	overflow: hidden;
	color: #333;
	font-size: 14px;
	/*text-transform: uppercase;*/
	float: left;
	margin-right: 6px;
}
.opciones_producto img{
	float: left;
	margin-right: 5px;
}
.opciones_producto span{
	float: left;
	margin-top: 6px;
}
.clear-fix{
	clear: both;
}
.tTienesCodigo{
	float: left;
    width: 100%;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    margin-top: 10px;
}
.contCodDesc{
	float: left;
	width: 100%;
	position: relative;
}
.descuento{
	height: 30px;
    padding: 0 10px;
    line-height: 31px;
    border: solid 1px #b7b7b7;
    width: calc(100% - 22px);
    margin-bottom: 20px;
    padding-left: 10px;
}
.codigoOK {
    position: absolute;
    z-index: 99;
    width: 20px;
    height: 20px;
    right: 20px;
    bottom:27px;
}
.bg-popup{
	background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.popup-news{
	background: #6d6e71;
    width: 90%;
    max-width: 500px;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
.popup-news>.contenido{
	width: 100%;
    height: 100%;
    border: 1px solid #fff;
    box-sizing: border-box;
    padding: 30px 15px 50px 15px;
    position: relative;
}
.popup-news .contenido>.close{
	width: 20px;
    height: 20px;
    background: url(img/close.png) no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}
.popup-news .contenido>p{
	color: #fff;
    font-size: 17px;
    text-align: left;
    padding: 0 10px;
    margin: 35px 0;
}
.datos{
	width: 100%;
    text-align: center;
}
.datos>input{
	width: 95%;
    height: 30px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    border: 0;
    border-bottom: 0.2px solid #fff;
    background: transparent;
    font-style: italic;
    font-family: 'latolight';
}
.datos>input::placeholder{
	color: #fff;
}
.datos>a{
	color: #fff;
    font-size: 12px;
    border-bottom: 0.2px solid #fff;
    max-width: 108px;
    letter-spacing: 1.5px;
    float: right;
    overflow: hidden;
    margin-right: 10px;
    padding: 5px 10px;
}
.datos>img{
	width: 34px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-popup{
	display: block;
	margin: auto;
}

.contuser{
	float: right;
    font-size: 14px;
    text-transform: uppercase;
}

.contuser a{
	margin-top: 0;
	margin-left: 0;
	color: #848484;
	border-right: 1px solid #848484;
	padding-right: 10px;
}

.contuser a svg{
	margin-right: 5px;
}

.content_center{
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

.container_center{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	grid-column-gap: 20px;
}

.container_center .col{
	border: 1px solid #797979;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px 20px 20px;
}

.container_center .col:first-child{
	height: 290px;
}

.container_center .col h2{
    font-size: 19px;
    width: calc(100% - 25px);
    margin: 20px 0 10px 0;
    padding-left: 25px;
    color: #666;
    text-transform: uppercase;
}

.form_group{
	width: 100%;
	clear: both;
	overflow: hidden;
}
.form_group label{
	display: block;
    font-size: 16px;
    margin-bottom: 4px;
    color: #797979;
}
.form_group input[type="text"],
.form_group input[type="password"]{
	width: 100%;
    border: solid 1px #797979;
    background: #fff;
    height: 31px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #666!important;
    box-sizing: border-box;
}

.rec-password{
	display: block;
	margin-bottom: 5px;
	color: #666;
    text-decoration: underline;
}

.btn-form{
	background: #9b2534;
	width: 100%;
	border: 0;
	color: #fff;
	height: 45px;
	font-size: 14px;
}
.bgpop-rec{
	background: rgba(0,0,0, .5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}
.pop-rec{
	background: #fff;
	width: 90%;
	max-width: 400px;
	position: fixed;
	z-index: 10001;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	padding: 20px;
	box-sizing: border-box;
	display: none;
}

.pop-rec h2{
	color: #666;
	text-transform: uppercase;
	margin-top: 0;
}

.btn-rec{
	background: #9b2534;
	width: 100%;
	border: 0;
	color: #fff;
	height: 35px;
	font-size: 14px;
}

.menuMiCuenta{
	float: left;
    width: calc(24% - 22px);
    margin-right: 20px;
    border-bottom: none;
    text-transform: uppercase;
    box-sizing: border-box;
}

.menuMiCuenta a{
	float: left;
    width: 100%;
    padding: 15px 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 14px;
    box-sizing: border-box;
    color: #333;
}

.menuMiCuenta a:hover{
	background: #d5d5d5;
	color: #333;
}

.menuMiCuenta a.current{
	background-color: #d5d5d5;
    color: #333;
}

.contenidoMiCuenta{
	float: left;
	width: 60%;
}

.back-dash{
	color: #197faf;
    font-size: 12px;
    margin-bottom: 5px;
    display: none;
    margin-top: 20px;
}

.grid-form{
	display: grid;
	grid-template-columns: repeat(2, calc(50% - 10px));
	grid-column-gap: 20px;
}

.title-dash{
	float: left;
    width: 100%;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.title-dash span{
	display: block;
	border-bottom: solid 1px #ccc;
	width: calc(24% - 23px);
	padding-bottom: 10px;
}
.subtitulo{
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
}

.btn-change-pass{
	display: block;
    width: 100%;
    background: #d5d5d5;
    color: #333;
    text-align: center;
    height: 32px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 32px;
}
#btnActualizar{
	background: #9b2534;
    color: #fff;
    display: block;
    width: 50%;
    height: 35px;
    text-align: center;
    font-size: 15px;
    margin: 20px auto 0 auto;
    border: 1px solid #9b2534;
}
.bg_change_password{
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: none;
}
.content_change{
	background: #fff;
    position: fixed;
    top: 50%;
    z-index: 99;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: 95%;
    max-width: 400px;
    display: none;
}
.content_change h2{
	color: #33;
	margin-top: 0;
}
.btn-change-password,
.btn-address{
	display: block;
    text-align: center;
    background: #d5d5d5;
    color: #333;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.content_address{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 10px));
	grid-column-gap: 15px;
}
.content_address .col{
	border: 1px solid #797979;
    padding: 15px;
    color: #333;
    font-size: 14px;
}
.content_address .col .titulo_dir{
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	color: #333;
}
.action_dir a{
	color: #333;
	font-size: 12px;
}
.nuevaDireccion{
	float:right;
	color: #333;
	font-size:14px;
	line-height:31px; 
	-webkit-transition: all .3s; 
	-moz-transition: all .3s; 
	-o-transition: all .3s; 
	transition: all .3s; 
	text-decoration: underline;
	font-family: 'latolight';
	text-transform: capitalize;
}

.row_pedidos{
	border: 1px solid #797979;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.head_pedidos{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	padding: 15px;
	border-bottom: 1px solid #797979;
}

.head_pedidos span{
	color: #666;
}

.head_pedidos .title{
	display: block;
	color: #333;
	font-size: 14px;
}

.body_pedidos{
	padding: 15px;
	display: grid;
	grid-template-columns: 12% 44% 44%; 
}

.body_pedidos .col img{
	width: 100%;
	max-width: 80px;
}

.body_pedidos .col .nombre{
	font-size: 14px;
	color: #333;
}

.body_pedidos .col .sku,
.body_pedidos .col .qty{
	color: #666;
	font-size: 14px;
	margin-top: 5px;
}

.body_pedidos .col .qty a{
	color: #666;
}

.body_pedidos .col .repetir_compra{
	color: #666;
	font-size: 14px;
	text-decoration: underline;
	margin: 5px 0;
}

.body_pedidos .col .valor_prd{
	color: #d5d5d5;
	font-size: 14px;
	margin: 5px 0;
}

.v_details{
	color: #666;
	font-size: 14px;
	text-decoration: underline;
	margin: 5px 0;
	display: block;
}
.fleft{
	float: left;
	margin-right: 5px;
}
.grid_info{
	display: grid;
	grid-template-columns: repeat(3, calc(33.333333% - 7px));
	grid-column-gap: 10px;
	padding: 10px 15px;
	background: #f8f8f8;
	border-bottom: 1px solid #98b8c0;
}

.producto_guardado{
	width: 100%;
    float: left;
    font-size: 15px;
    color: #333;
    margin-top: 8px;
    cursor: pointer;
}

.red-color{
	color: #ff5f66;
}

.btn_mover_cart{
	background: #d5d5d5;
	color: #333;
	width: 100%;
	display: block;
	max-width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}

.grid-center{
	display: grid;
	align-items: center;
}
#uniform-direcciones{
	width: calc(100% - 16px)!important;
	margin-bottom: 10px;
}
#uniform-direcciones span{
	width: 89%!important;
}
.campoPasoFinal:disabled{
	background: rgba(121, 121, 121, .05);
	color: #333!important;
}

.bg_loading{
	background: rgba(255,255,255, .8);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#h2stock {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.acount-xs{
	display: none!important;
}

.close_menu{
	display: none;
}

.body_login{
	background: #000 url('img/bg_login.jpg') no-repeat;
}

.logo_login{
	display: block;
	margin: auto;
}

.center_login{
	width: 95%;
	max-width: 400px;
	margin: auto;
	margin-top: 20px;
}

.login_form label{
	color: #fff;
}

.login_form .rec-password{
	color: #fff;
}