@charset "UTF-8";
@media (max-width: 1400px) {
	.contenedor,
	.footer{
		width:94%;
		margin-right:3%;
		margin-left:3%;
	}
}

@media (min-width: 1401px) {
	.contenedor,
	.footer{
		width:1400px;
		margin-right:auto;
		margin-left:auto;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.contenedor,
	.footer{
		width:96%;
		margin-right:auto;
		margin-left:auto;
	}
	.tituloCatDest{font-size:25px; line-height:23px;}
	.menu ul li a {margin: 0 17px;}
	.fichaBread{width:100%;}
}


@media (max-width: 767px) {
	.contenedor{
		width:94%;
		margin-right:3%;
		margin-left:3%;
	}
	.colCatDest1{width:100%; margin-bottom:10px;}
	.catDestacados{height:auto;}
	.tituloCatDest {font-size: 32px;}
	.filaNewsletter form{width:100%}
	.campoNewsletter {
		width: calc(100% - 42px);
		padding: 0 20px;
		border: solid 1px #767676;
	}
	.menuFooterIzquierdo{width:100%;}
	.btnNewsletter{width:100%}
	.menuFooterIzquierdo a {
		margin-right: 0px;
		width:100%;
		text-align:center;
		font-size:16px;
		margin-bottom:10px;
	}
	.filaMenuFooter {height: auto;}
	.filaWebpay img{width:40%}
	.menuFooterDerecho{width:100%; font-size:14px; margin-bottom:20px;}
	.menuFooterDerecho a{width:100%; text-align:center;margin:0 0 2px 0; padding:0;}
	.redes{display:none;}
	.filaFirma a, .filaFirma span{width:100%; font-size:12px; margin-bottom:10px;}
	.breadCrumbs{width:100%; margin-top:10px;}
	.filtros{margin-top: 70px;}
	.titulo{width:50%;float: left;margin-top:70px;}
	.titulo h2{text-align: left;}
	.menu{display:none; top:0; left:0; position:fixed; z-index:9999; margin:0; height:auto; width:calc(100% - 60px)!important; border-top: 0; border-bottom: 0;}
	.menu .menu_principal{width:calc(100% - 60px)!important; float:left; height:80%; background:#fff; box-shadow:1px 1px 5px #666;top:65px; left:0; position:fixed; z-index:9999; overflow: auto;}
	.menu ul li{width:100%; float:left; height:auto;}
	.menu ul li:hover > ul{display:none;}
	.menu ul li a{float:left; width:calc(100% - 60px); text-align:left;}
	.menu ul ul{float:left; width:100%; display:none; position:relative; top:0; border-top: solid 1px #ccc; border-bottom:solid 1px #ccc;}

	.menuFixed.menu ul ul{
		top: 0;
		width: auto;
	}
	
	
	h1.contLogo a{width:100%;max-width: 255px;margin-left:23px;background:url(img/logo2.png) left center no-repeat; background-size:85%; height:48px;}
	h1.contLogo{width:60%; margin-top:13px;text-align: left;}
	.barraTop{position:absolute; z-index:2; right:70px; top:18px; width:auto!important;}
	.contCarroHeader{ float:right; width:auto;}
	.menuTipo{display:none;}
	.header{
		height: 70px;
	    position: fixed;
	    background: #fff;
	    z-index: 9999;
	    top: 0;
	    left: 0;
	}
	.i_men{display: block;}
	.menu2{display:none!important;}
	.totalHeader{display:none;}
	.buscar { margin-right: 0px;width:30px;}
	.buscar span{display:none;}
	.btnMenu{float:right; width:40px; display:block; margin-top:20px;}
	.btnMenu i{ width:100%; font-size:32px; color:#000;}
	.resumenCarroHeader {
		top: -28px;
		right: -70px;
		width: 250px;
		display: none;
		z-index:999;
	}
	.slider{z-index:1;}
	.galProducto{width:100%;}
	.colThumbs{width:40px;}
	.colThumbs a img{
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	.imgGal{width: calc(100% - 50px);}
	.datosProducto {float: left; width: 100%; margin: 20px 0px 0 0;}
	.contProducto{margin-top:0;}
	.slider2 { min-height: 100px; margin-bottom: 10px;}
	.columnaAbsolutaLeft {
		position: relative;
		left: 0;
		float:left;
		width: 100%;
		top: 0;
		z-index: 1;
	}
	.cuadroTexto1 {width: 100%;	}
	.cuadroTexto1 p {padding: 20px;}
	.mapaTienda{margin-top:10px;}
	.columnaAbsolutaRight {
    position: relative;
    right: 0;
	float:left;
    width: 100%;
    top: 0;
	margin-top:10px;
    z-index: 1;
}
	.colTxtGris {width: calc(100% - 40px); padding: 20px;}
	.formularioTienda {width: calc(100% - 40px); padding: 20px 10px 30px 20px;}
	.formularioTienda form label { font-size:16px;}
	.btnForm {width: 100%;}

	.content_center{
		margin: 60px auto 0 auto;
	}

	.title-dash{margin-top: 55px; display: none;}
	.title-dash span{border-bottom: 0;}
	.menuMiCuenta a{width: 20%;}
	.menuMiCuenta{width: 100%; margin-top: 55px;}
	.contenidoMiCuenta{width: 100%;}

	.head_pedidos{
		grid-template-columns: repeat(2, 50%);
	}
	.head_pedidos .col{ padding: 5px; }
	.body_pedidos{
		grid-column-gap: 10px;
	}

	.close_menu{
		display: block;
	    float: right;
	    margin-right: 13px;
	    background: #ccc;
	    width: 25px;
	    height: 25px;
	    color: #fff;
	    border-radius: 100%;
	    position: relative;
	    right: 0;
	    top: 0;
	    line-height: 25px;
	    text-align: center;
	    cursor: pointer;
	    margin-top: 7px;
	    z-index: 99999;
	}

}

@media screen and (max-width: 930px){
	.content_products{
		grid-template-columns: repeat(3, 33.333333%);
		width: 100%;
	}
	.menu-lateral{
		display: none;
	}
	.resumenCarroDerecha{
		width: 100%;
		margin-top: 20px;
	}
	.carroLateral{
		width: 100%;
	}
}

@media screen and (max-width: 540px){
	.content_products,
	.grid-5{
		grid-template-columns: repeat(2, 50%)!important;
	}
	.container_center{
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
}

@media screen and (max-width: 820px) {
	.colFooter1,
	.colFooter2,
	.colFooter3,
	.colFooter4{
		width: 50%;
	}
	.filaF{
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		padding-bottom: 20px;
	}
	.filaF2{
		border-bottom: none;
		padding-top: 20px;
	}
}
@media screen and (max-width: 450px){
	.colFooter3,
	.colFooter4{
		width: 100%;
	}
	.colFooter3{
		text-align: center;
	}
}
@media screen and (max-width: 1100px) {
	.grid-5{
		grid-template-columns: repeat(4, 25%);
	}
}
@media screen and (max-width: 900px) {
	.grid-5{
		grid-template-columns: repeat(3, 33.333333%);
	}
}
@media screen and (max-width: 1240px){
	.colForm2{
		float: left;
		margin-top: 12px;
	}
	.col-left,
	.col-right{
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.col1{
		width: 100%;
	}
	.col2{
		width: calc(100% - 37px);
		margin-left: 0;
		margin-top: 20px;
	}
}
@media screen and (max-width: 590px){
	.contuser{
		display: none;
	}
	.menuMiCuenta a{ width: 50%; }
	.content_address{
		grid-template-columns: repeat(2, calc(50% - 7px));
	}
}
@media screen and (max-width: 480px) {
	.contFactura{
		width: calc(100% - 30px);
	}

	.barraTop{
		right: 50px;
	}

	.acount-xs{display: block!important;}
	.content_address{
		grid-template-columns: 100%;
	}
	.grid_info{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}
}
@media screen and (max-width: 430px){
	.filtros{
		width: 100%;
	}
	.menuSelectFiltro{
		width: 100%;
	}
	.titulo{
		margin-top: 20px;
	}
}