@charset "UTF-8";
/* CSS Document */

/*	ESTILOS CARRO HEADER*/
.resumenCarroHeader{
	position:absolute;
	z-index:200;
	top:0;
	right:0;
	width:360px;
	padding:15px;
	background:#fff;
	box-shadow:0 0 4px #ccc;
	display:none;
}
.headCarroResumen{
	padding:10px 0;
	border-bottom:solid 1px #ccc;
}
.headCarroResumen a{
	float:left;
}
.headCarroResumen a.cerrarMenuCart{
	float:right;
}
.filasProdCart{
	padding:10px 0;
	border-bottom:solid 1px #ccc;
}
a.imgThumbsCartHeader{
	width:20%;
	float:left;
}
.datosProdHeader{
	float:left;
	width:50%;
}
.datosProdHeader a{
	float:left;
	width:100%;
	text-transform:uppercase;
	margin-bottom:10px;
	font-size:14px;
	color:#666;
}
.valorFilaHeader{
	font-family: 'latoregular';
}
.qtyHeader{
	float:left;
	width:10%;
	margin-left:5%;
}
.qtyHeader a{
	width:80%;
	border:solid 1px #ccc;
	text-align:center;
	color:#666;
}
.quitarCarro{
	float:right;
	background:#f1f1f1;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	color:#666;
}
.totalesCartHeader{
	padding:10px 0;
	border-bottom:solid 1px #ccc;
	font-size:14px;
	text-align:right;
	margin-bottom:10px;
}
.totalesCartHeader span{
	font-family: 'latoregular';
}
.btnComprarHeader{
	float:right;
	text-transform:uppercase;
	padding:15px 40px;
	color:#fff;
	background:#9b2534;
	font-size:14px;
}
.carroVacio{
	float:left;
	width:100%;
	text-align:center;
	font-size:20px;
}
/*	FIN ESTILOS CARRO HEADER*/





/* Estilos identificación */
.contenedorIdentificacion{
	float:left;
	width:100%;
	background:url(tienda/fondoIdentificacion.jpg);
	background-size:cover;
	min-height:400px;
}
.top1{
	float:left;
	width:100%;
}
.contenedorIdentificacion .breadcrumbs{
	float:left;
	width:100%;
	color:#fff;
	margin:20px 0;
}
.contenedorIdentificacion .breadcrumbs a,
.contenedorIdentificacion .breadcrumbs span,
.contenedorIdentificacion .breadcrumbs div{float:left; margin-right:5px; color:#fff;}
.ContIdentificate{
	float:left;
	width:70%;
	margin:20px 15%;
	background-color:rgba(0,0,0, .3);
	padding:20px 0;
}
.tituloIdentificate{
    color: #fff;
    float: left;
    font-size: 19px;
    text-align: center;
    width: 100%;
    margin: 20px 0 10px 0;
	text-transform:uppercase;
}
.acceso1{
	float:left;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:30px;
	text-transform:uppercase;
}
.acceso2{
	float:left;
	width:100%;
	text-align:center;
	color:#fff;
	font-size:16px;
}
.acceso3{
	float:left;
	width:80%;
	margin-left:10%;
	margin-top:30px;
}
.acceso3 form{
	float:left;
	width:100%;
}
#emailRapido{
	float:left;
	width:calc(100% - 42px);
	padding:0 20px;
	border:solid 1px #000;
	background:#fff;
	height:50px;
	font-size:16px;
	font-family: 'latolight';
}
.acceso3 a.btnFormCompraRapida{
	float:left;
	color:#fff;
	padding:15px 0;
	background:#9b2534;
	width:25%;
	text-transform:uppercase;
	text-align:center;
	margin:10px 0 0 37%;
	height:auto;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

}
.acceso3 a.btnFormCompraRapida:hover{
	background:#6d1823;
}
/* Estilos identificación */





/*
ESTILOS VALIDACIONES CARRO
*/
.contenedorPasos{
	float:left;
	width:90%;
	margin:20px 0 0 5%;
}
.col1 {
    float: left;
    width: 70%;
}
.colForm1 {
    float: left;
    width: calc(100% - 10px);
    position: relative;
	border:solid 1px #797979;
	min-height: 421px;
}
.tituloColumnas {
    font-size: 26px;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}
.contFondoGris {
    float: left;
    width: calc(100% - 44px);
    background: #fff;
    padding: 15px 22px;
	
}
#modificarDatos, #modificarDatos2 {
    position: absolute;
    z-index: 99;
    right: 11px;
    top: 13px;
    width: 20px;
    height: 20px;
}
#modificarDatos i, #modificarDatos2 i {
    font-size: 16px;
    color: #666;
}
.acceso3 a {
    width: 228px;
    height: 32px;
    float: left;
    text-align: center;
    background: #544f92;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
    border-radius: 4px;
}
.contCampos {
    float: left;
    width: 100%;
    position: relative;
}
.mensajeCaluga {
    float: left;
    background: url(tienda/iconoDatosEncriptados.jpg) 0px 5px no-repeat;
    padding-left: 25px;
    width: calc(100% - 25px);
    font-size: 12px;
	background-size:19px;
}
.campoFantasma {
    position: absolute;
    z-index: 9;
    top: 22px;
    background: #fff;
    width: calc(100% - 22px);
	left:1px;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
    height: 30px;
    font-family: 'latoregular';
    padding: 0 10px;
    line-height: 31px;
    font-size: 12px;
    display: none;
    color: #767676;
}

.contFondoGris label {
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 4px;
}
.campoPasoFinal {
    float: left;
    width: calc(100% - 22px);
    border: solid 1px #797979;
    background: #fff;
    height: 31px;
    margin-bottom: 14px;
    padding: 0 10px;
}
.campoPasoFinalText{
	float: left;
    width: calc(100% - 22px);
    border: solid 1px #2a2a2a;
    background: #fff;
    height: 70px;
    margin-bottom: 14px;
    padding: 10px;
}
.tipoBlanco {
    color: #fff;
}
.colForm2 {
    float: right;
}
.selectorTabs {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: solid 1px #fff;
}
.direccionDespachoTabs {
    float: left;
}
.tituloTabsDirecciones {
    float: left;
    color: #414042;
    font-size:12px;
    margin-right: 10px;
    margin-top: 4px;
    text-transform: uppercase;
}
.tabsCompraRapida {
    float: left;
    width: 100%;
}
.direccionDespacho {
    float: left;
    width: 100%;
    margin-top: 15px;
    border-bottom: solid 1px #fff;
    padding-bottom: 10px;
}
.direccion {
    float: left;
    font-size: 14px;
    width: 225px;
    color: #414042;
}
.direccion a{
	color: #414042;
    text-decoration: underline;
}
#tabsCompra1 {
    display: block;
}
#tabsCompra2{
	display: none;
}
.mensajeCalugaDireccion {
    background: none;
    padding-left: 0;
    width: 100%;
}
.contFactura {
    float: left;
    width: calc(100% - 39px);
    margin-top: 10px;
    background: #fff;
    border: solid 1px #797979;;
    padding: 0 15px 15px 15px;
    position: relative;
}
.opcionFactura {
    float: left;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.tituloRadio {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 4px;
}
.contDatosFactura {
    float: left;
    width: 100%;
    font-size: 12px;
    display: none;
}
.mensajeFactura {
    float: left;
    width: 100%;
    text-align: left;
    color: #414042;
    font-weight: bold;
}
.relativo {
    position: relative;
}
.form100 {
    float: left;
    width: 100%;
}
.form50Derecha {
    float: left;
    width: 48%;
    margin-left: 4%;
}
.contDatosFactura label {
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-bottom: 4px;
}
.col2 {
    float: left;
    width: calc(30% - 45px);
    margin-left: 15px;
/*	background:#fafafa;*/
	padding:15px;
}
.contResumenCompra {
    float: left;
    width: 100%;
    border-top: solid 1px #b7b7b7;
}
.compraYAceptaTerminos {
    float: left;
    width: 100%;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-top: 10px;
}
#comprar {
    float: right;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
	height: 52px;
	text-align: center;
	background:#9b2534;
	line-height:52px;
	font-size:16px;
	font-family: 'latoregular';
	color:#fff;
}
a.desabilitado {
    background: #d5d5d5!important;
}
.txtTerminosAcepto {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-align: left;
}
.txtTerminosAcepto a {
    color: #666;
    text-decoration: underline;
    width: auto;
    float: none;
    height: auto;
    background: #fff;
    text-align: left;
    padding: 0;
    border-radius: 0;
}
.contImgTranbank {
    float: left;
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.acceso1 {
    color: #666;
    float: left;
    font-size: 19px;
    text-align: left;
    width: calc(100% - 25px);
    margin: 20px 0 10px 0;
	padding-left:25px;
}
.contPasosValidacion{
	float:left;
	width:100%;
}
#uniform-hbt1, #uniform-hbt2, #uniform-hbt3 {
    float: left;
}
.radio{
	float:left;
}
.col2 .tituloColumnas{
	margin-left:0;
	padding-left:0;
	margin-top:0;
	padding-top:0;
}
#contDatosCompra{
	float:left;
	width:100%;
	padding-top:10px;
}
.fila-carro2{
	float:left;
	width:100%;
	border-bottom:solid 1px #ccc;
	margin-bottom:10px;
	padding-bottom:10px;
}
.caja1-carro2{
	float:left;
	width:60%;
	text-transform:uppercase;
}
.qtyCarroShort{
	float:left;
	width:10%;
}
.precio-carro2{
	float:left;
	width:30%;
	text-align:right;
	font-family: 'latoregular';
}
.caja-total2{
	float:left;
	width:100%;
	text-transform:uppercase;
}
.tot1{
	float:left;
	width:60%;
	text-align:right;
}
.tot2{
	float:left;
	width:40%;
	text-align:right;
	font-family: 'latoregular';
}
.incompleto{border:solid 1px #9b2534;!important}
div.selector.incompleto{border:solid 1px #9b2534;!important}
#formLoginCompraRapida {
    float: left;
    width: 100%;
    padding-top: 10px;
}
div.selector{
	height: 33px;
}
#solicitarClave {
    text-align: left;
    color: #666;
    text-decoration: underline;
    margin-top: 15px;
    font-weight: bold;
}
#formLoginCompraRapida input {
    float: left;
    width: calc(100% - 32px);
    border: solid 1px #ccc;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#btnIngresarCompraRapida {
    width: 228px;
    height: 32px;
    float: left;
    text-align: center;
    background: #9b2534;
    color: #fff;
    text-decoration: none;
    padding-top: 10px;
    float: left;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
	text-transform:uppercase;
}
#btnIngresarCompraRapida:hover { background: #731a26;}
#inline1 h3{ text-transform:uppercase; font-size:16px;}
.form50Izquierda{
	float:left;
	width:48%;
}
.mensajesDespacho{
	float:left;
	width:100%;
	margin-top:10px;
	padding-top:10px;
	border-top: solid 1px #ccc;
}



.compraFianl{
	text-align:center;
}
.top-identificacion{
	float:left;
	width:100%;
	text-align:center;
	font-size:16px;
}
.top-identificacion span{
	font-family: 'cardobold';
}
.cont-btns4{
	float:left;
	width:100%;
}
.btns-paso4{
	float:left;
	width:100%;
	text-align:center;
	margin:20px 0;
}
.btns-paso4 a{
	display:inline-block;
	height:50px;
	padding:0 50px;
	line-height:50px;
	color:#fff;
	background:#9b2534;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	margin:0 10px;
}
.btns-paso4 a:hover{
	background:#751925;
}
.titulos_interiores{
	float:left;
	width:100%;
	text-align:center;
}
.top-identificacion div {
	font-size:22px;
}
.codigo-4{color:#9b2534;}
.columna-paso4{
	float:left;
	width:calc(31% - 30px);
	border: solid 1px #ccc;
	margin:10px 1%;
	padding:15px;
	min-height:160px;
}
.caja-resumen{
	float:left;
	width:100%;
	border-bottom:solid 1px #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}
.t-paso4{
	float:left;
	width:100%;
	font-size:16px;
	font-family: 'latoregular';
	color:#666;
}
.t2-paso4{
	float:left;
	width:100%;
	font-family: 'latoregular';
	margin-top:8px;
	font-size:14px;
}
.dato-paso4{
	float:left;
	width:100%;
	font-size:14px;
}
.resumen1{
	float:left;
	width:100%;
	font-size:16px;
	font-family: 'latoregular';
	color:#666;
	margin-top:40px;
}
.resumen2,
.resumen3{
	float:left;
	width:25%;
	margin-top:20px;
}
.resumen-in1,
.resumen-in2{
	float:left;
	width:100%;
	margin-bottom:8px;
	font-size:14px;
}
.resumen-in1 div,
.resumen-in2 div{
	float:left;
	width:100%;
	font-family: 'latoregular';
	color:#666;
}
.cont-datos{
	float:left;
	width:100%;
	border-bottom:solid 1px #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}
.columna-datos1,
.columna-datos2{
	float:left;
	margin:10px;
}
.t-paso3{
	float:left;
	width:100%;
	font-size:20px;
	margin-bottom:20px;
}
.t-carro{
	float:left;
	width:100%;
	border-bottom:solid 1px #ccc;
	border-top: solid 1px #ccc;
	padding:15px 0;
	font-size:16px;
	font-family: 'latoregular';
	color:#666;
}
.caja-top1{
	float:left;
	width:40%;
}
.caja-top2,
.caja-top4{
	float:left;
	width:20%;
}
.caja-top5{
	float:left;
	width:20%;
	text-align:right;
}
.itemsExito{
	float:left;
	width:100%;
	border-bottom:solid 1px #ccc;
	padding:20px 0;
}
.totalesExito{
	float:left;
	width:100%;
	margin:20px 0 50px 0;
}
.filaValoresExito{
	float:left;
	width:100%;
	text-align:right;
	font-family: 'latoregular';
	font-size:14px;
	padding:10px 0;
	color:#999;
}
.filaValoresExito span{
	width:140px;
	float:right
}
.filaTotal{
	color:#333;
}


@media (max-width: 480px) {
	.ContIdentificate {float: left; width: 90%;	margin: 20px 5%;}
	.acceso3 a.btnFormCompraRapida{	float: left;
		color: #fff; padding: 15px 0; background: #9b2534; width: 100%;margin: 10px 0 0 0;}
	.contenedorPasos {float: left; width: 100%; margin: 20px 0 0 0;}
	.col1,
	.colForm1 {	float: left; width: 100%; margin-bottom:10px; }
	.col2 {	float: left; width: calc(100% - 30px); margin-left: 0px; background: #fafafa; padding: 15px;}
	.opcionFactura .radio{clear:both;}
	.btns-paso4 a {padding: 0 5px; margin: 0 3px; font-size: 12px;}
	.columna-paso4 {width: calc(100% - 32px); margin: 0 0 10px 0; min-height:auto;}
	.resumen2, .resumen3 {width: 100%; margin-top: 20px;}
	.top-identificacion div {font-size: 17px;}
}
@media (max-width: 975px){
	.cont_input{
		width: 100% !important;
	}
}
.cont_input{
	width: calc(50% - 10px);
	overflow: hidden;
	float: left;
}
.cont_input:first-child{
	margin-right: 20px;
}

.double{
	width: calc(50% - 10px);
	float: left;
	margin-right: 10px;
}
.double-right{
	margin-left: 10px;
	margin-right: 0;
}
.col-left{
	width: 50%;
	float: left;
}
.col-right{
	width: 50%;
	float: right;
}
.mensaje_login{
	width: 99%;
	background: #9beb99;
	border: 1px solid #81d67f;
	border-radius: 4px;
	display: none;
	color: #fff;
	box-sizing: border-box;
	padding: 10px;
}