@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding-top: 0px;
	background-image:url(../pics/fondo_login.png);
	background-repeat:repeat;
}
*{
	outline:none;
}
#header {
	/*height: 45px;
	background-color:white;*/
	background: #363636;
	width: 100%;
	height: 85px;
	display: block;
	z-index: 11;
	position: fixed;
	margin-top: 0px;
	top:0;
}
#header .center {
	max-width: none;
	padding: 17px 2%;
	float: left;
	width: 96%;
}
#header .logo {
	margin-top: 8px;
	width: 193px;
	height: 22px;
	float: left;
}
#header .perfil {
	float: right;
	height: 50px;
	width: 200px;
}
#header .perfil .box{
	text-align:right;
}
#header .perfil .box p{
	margin:0;
}
.perfil .nombre {
	color: #FFFEFE;
	float: right;
	width: 250px;
	margin-left: 15px;
	font-size:14px;
}
.perfil .empresa {
	color: #CBCBCB;
	float: right;
	width: 130px;
	margin-left: 15px;
}

.perfil .box {
	float:left;
	width: 130px;
	margin-right: 15px;
	margin-top: auto;
	right: -95px;
}
.foto{
	float:right;
}

/*#header img {
	padding:10px;
}*/


#menu {
	/*width: 100%;*/
	background: #9a9a9a url(../pics/menu_bg.gif) repeat-x 0px 100%;
	top:0;
}
#menu {
	position:fixed;
	top:85px;
	left:0;
	width:225px;
	z-index:999;
	
	background:#fff;
	background-image:none;
}
#menu ul{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	background:#fff;
	border-right: 1px solid #AEAEAE;
	border-top: 1px solid #AEAEAE;
	border-radius:0;
}
#menu ul li{
	width:100%;
	border-bottom: 1px solid #CDCDCD;
	background: url(../pics/li-nivel1.png) 8px no-repeat;
	float:left;
	position:relative;
}
#menu ul li a{
	display:block;
	padding:10px 0 10px 36px;
	color:#666;
	font-size:12px;
}
#menu ul li a:hover{
	color:#fff!important;
	background: url(../pics/li-nivel1.png) 8px no-repeat #62ACE0;
	
}
#menu ul li.sfHover{
	color:#fff!important;
	background: url(../pics/li-nivel1.png) 8px no-repeat #62ACE0;
}
#menu ul li.sfHover a{
	color:#fff;
}

#menu ul li ul{
	position:absolute;
	left:225px;
	top:0;
	width:200px!important;
}
#menu ul li li{
	float:left;
	width:100%;
}
#menu ul li.sfHover li a{
	color:#666;
}
#menu ul li li,
#menu ul li li a{
	background-image: none;
	background:#fff;
}
#menu ul li li a:hover{
	background:#62ACE0;
	color:#fff;
}
#menu ul li li a{
	padding-left:10px;
}
	
	
#back
{
	width:auto;
	background-image:url(pics/fondo_login.png);
	background-repeat:repeat;
	float:right;
	margin-top:129px;
}

#principal {
	background-color:#FFF;
	padding:10px;
	border:solid thin #333;
	-moz-border-radius: 10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	height:auto;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}



#botonera {
	/*width: 100%; */
	height: 30px;
	background-color: #fff;
	border: gray solid 1px;
	margin-top:0;
	margin-bottom:10px;
	position:fixed;
	z-index:99;
	top:84px;
	left:236px;
	padding:5px 0px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

#botones {
	float: right;
	margin: 5px;
	margin-top:0;
	/*height: 20px;*/
}

#botones_tabla {
	float: right;
	/* height: 20px; */
}

#titulo {
	float:left;
}

#fecha_reloj {
	float:right;
/* 	margin-top: 35px; */
	text-align: right;
	margin: 5px 15px;
}

#nav2 {
	display:inline;
}

#cuadros {
	width: 20%;
	float: left;
}

#graph {
	width: 70%;
	float: left;
	margin-left: 50px;
}

#graph h1 {
	font-size: 16px;
	color: #666;
}

.claering {
	clear: both;
}

#legend {
	position: relative;
	top: 0px;
	left: 40px;
}

#legend2 {
	position: relative;
	top: 0px;
	left: 40px;
}

#loader {
	height: 300px;
	width: 100%;
	background: url('../pics/loader.gif') center no-repeat;
}

#empresa {
	float: right;
}

#cambiar_empresa {
	font-family: Verdana;
	font-size: 12px;
	color: #666;
	background-color: white;
	width: 400px;
	height: 330px;
	margin: 20px auto;
	padding: 10px;
}

.new_entry {
	float: right;
}
.tips_medidas {
	background:#fff;
	width:300px;
	position:absolute;
	z-index:9;
	top:178px;
	right:36px;
	border-radius:5px;
	border: solid 3px #6d6e71;
	padding:10px;
	color: #666;
}
.tips_medidas p{
	margin:0;
}
.tips_medidas a{
	position:absolute;
	left:-15px;
	top:-15px;
	width:30px;
	height:31px;
	background:url(../pics/cerrar_tips.png) no-repeat;
	outline:none;
	z-index:99;
}


#footer {
	width:100%;
	height:40px;
	text-align:center;
	background:#333;
	text-align:center;
	position:relative;
	float:left;
	bottom:0;
	color:#fff;
	left:0;
	padding-top:10px;
}
.campo_texto {
	border:solid 1px #ccc;
	background:#fff;
	padding:7px 10px;
}
.img_galeria {
	float:left;
	width:90%;
	position:relative;
	margin-left:5%;
}
.img_galeria .eliminar_galeria{
	position:absolute;
	z-index:2;
	top:-5px;
	right:-6px;
	display:none;
	cursor:pointer;
}
.form_editar_en_linea {
	position:absolute;
	top:0;
	left:0;
	width:200px!important;
	border:solid 1px #06F;
	height:auto;
	height:100%;
	background:#fff;
	display:none;
	z-index:9;
}
.campo_editable_lista {
	float:left;
	width:160px!important;
	padding:0 10px;
	height:100%;
	top:0;
	left:0;
	border:none;
	background:#fff;
	outline:none;
}
.campo_editable_lista:hover {
	background:#fff!important;
}
a.btn_editar_linea {
	float:right;
	width:20px;
	height:100%;
	overflow:hidden;
	text-indent:-999px;
	background:url(../pics/disk-black.png) center center no-repeat;
}
.agregar_nuevo {
	background:#65b2e6 url(../pics/icono_nuevo.png) 5px center no-repeat;
	color:#fff!important;
	padding-left:35px;
	height:30px;
	padding-right:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-transform:uppercase;
}
.agregar_nuevo:hover {
	background:#1682ca url(../pics/icono_nuevo.png) 5px center no-repeat;
	color:#fff!important;
}
.btn_editar {
	background:url(../pics/btn_editar.png) top center no-repeat;
	width:95px!important;
	height:33px!important;
	padding:0!important;
	overflow:hidden;
	text-indent:-999px!important;
	float:left!important;
	border:none;
}
.btn_editar:hover {
	background:url(../pics/btn_editar.png) top center no-repeat;
}
a.btn_eliminar {
	background:url(../pics/eliminar_2.png) center center no-repeat;
	height:18px!important;
	width:18px!important;
	text-indent:-999px!important;
	border:none;
	padding:0!important;
	overflow:hidden;
	float:left;
}
a.btn_eliminar:hover {
	background:url(../pics/eliminar_2_hover.png) center center no-repeat;
}
#query {
	border:solid 1px #ccc;
	background:#fff;
	height:28px;
	outline:none;
	padding:0 10px;
}
#query:hover {
	border:solid 1px #999;
}
.ver_todo {
	float:left;
	height:28px;
	line-height:28px;
	border:solid 1px #ccc;
	padding:0 15px;
	text-decoration:none;
}
.ver_todo:hover {
	color:#FFF;
	background:#669dd6;
}
.filas_por_pagina {
	line-height:28px;
	margin-left:5px;
}
.page {
	line-height:26px;
}
input.guardar-edit {
	float:right;
	background:url(../pics/guardar-edit.png) 5px center no-repeat #1682ca;
	padding:0 10px 0 35px;
	height:28px;
	border:solid 1px #666;
	color:#fff;
	border-radius: 5px;
	margin-bottom:3px;
	font-weight:lighter;
	text-transform:uppercase;
}
input.guardar-edit:hover {
	background:url(../pics/guardar-edit.png) 5px center no-repeat #5ba3d2;
	color:#fff;
}
a.eliminar-edit {
	float:right;
	margin-left:5px;
	background:url(../pics/eliminar-edit.png) 5px center no-repeat #e44242;
	padding:0 10px 0 35px;
	border:solid 1px #666;
	color:#fff;
	border-radius: 5px;
	height:26px;
	font-weight:lighter;
	line-height:26px;
	text-transform:uppercase;
}
a.eliminar-edit:hover {
	background:url(../pics/eliminar-edit.png) 5px center no-repeat #d96d6d;
	color:#fff;
}
.volver-edit {
	float:left;
	margin-right:5px;
	background:url(../pics/volver-edit.png) 5px center no-repeat #f9f9f9;
	padding:0 10px 0 20px;
	border:solid 1px #666;
	color:#666;
	border-radius: 5px;
	height:28px;
	font-weight:lighter;
	line-height:28px;
	text-transform:uppercase;
}
.volver-edit:hover {
	background:url(../pics/volver-edit.png) 5px center no-repeat #f9f9f9;
	box-shadow:inset 0 0 12px #666;
	color:#666;
}
.nuevo-edit {
	float:left;
	margin-right:5px;
	background:url(../pics/icono_nuevo.png) 5px center no-repeat #1682ca;
	padding:0 10px 0 35px;
	border:solid 1px #666;
	color:#fff!important;
	border-radius: 5px;
	height:28px;
	font-weight:lighter;
	line-height:28px;
	text-transform:uppercase;
}
.nuevo-edit:hover {
	background:url(../pics/icono_nuevo.png) 5px center no-repeat #5ba3d2;
}
a.imagenes-edit {
	background:url(../pics/add-images.png) 5px center no-repeat #72b0da;
	float:left;
	margin-right:5px;
	height:28px;
	border-radius:5px;
	line-height:28px;
	padding:0 10px 0 40px;
	text-transform:uppercase;
	font-weight:lighter;
	color:#fff!important;
}
.unorderedlisttree {
	list-style:none;
	padding-left:0;
}
.unorderedlisttree li{
	margin-bottom:4px;
} 
.ncam {
	color:#000;
}
input.btn_siguiente {
	width:110px;
	text-align:center;
	height:28px!important;
	background:url(../pics/continuar.png) 90px 8px no-repeat #1682ca;
	overflow:hidden;
	border-radius:5px;
	border:none;
	cursor:pointer;
	text-transform: uppercase;
	font-weight:lighter;
	color:#fff;
	font-size:11px;
	font-family: Verdana,Helvetica;
	padding:0 20px 0 0;
}
input.btn_siguiente:hover {
	background:url(../pics/continuar.png) 90px 8px no-repeat #136BA6!important;
	color:#fff;
}
.td_editable {
	position:relative;
}
.contenido {
	width:600px;
	min-height:100px;
	padding:30px;
}
.titulo_has_many_edit {
	float:left;
	width:100%;
	font-size:18px;
	color:#333;
	font-weight:lighter;
	margin-top:0;
}
.btn_actualizar {
	height:31px;
	border-radius:5px;
	overflow:hidden;
	line-height:31px;
	color:#fff;
	float:left;
	background:#1682ca;
	width:140px;
	text-align:center;
	margin-top:10px;
	text-decoration:none;
	margin-bottom:20px;
}
.btn_actualizar:hover {
	background:#166da7;
}
#edit_has_many {
	float:left;
	width:100%;
}
#camposRenovacion{
	position:absolute;
	z-index:9;
	width:300px;
	right:50px;
	top:50px;
	min-height:100px;
	background:#CCC;
}
.contieneImagen{
	position:relative;
}
img.del{
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	cursor:pointer;
}