@charset "utf-8";
/* CSS Document */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400);*/
/* font face custom */
@font-face {
	font-family: 'HelveticaLTStd-Light';
	src: url('fonts/HelveticaLTStd-Light.eot?') format('eot'), 
	     url('fonts/HelveticaLTStd-Light.otf')  format('opentype'),
	     url('fonts/HelveticaLTStd-Light.woff') format('woff'), 
	     url('fonts/HelveticaLTStd-Light.ttf')  format('truetype'),
	     url('fonts/HelveticaLTStd-Light.svg#HelveticaLTStd-Light') format('svg');
		  font-weight: normal;
    font-style: normal;
}

@font-face {
	  font-family: 'HelveticaLTStd-Bold';
	src: url('fonts/HelveticaLTStd-Bold.eot?') format('eot'), 
	     url('fonts/HelveticaLTStd-Bold.otf')  format('opentype'),
	     url('fonts/HelveticaLTStd-Bold.woff') format('woff'), 
	     url('fonts/HelveticaLTStd-Bold.ttf')  format('truetype'),
	     url('fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
		  font-weight: normal;
    font-style: normal;
}
* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	display: inline;
	margin: 5px;
}

subtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	display: inline;
	margin: 5px;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-decoration: none;
}

a {
	text-decoration:underline;
}

input[type=text]:hover {
	background-color:#F0F0F0;
}

input[type=password], input[type=text] {
	width: 230px;
}

input[type=password]:hover {
	background-color:#F0F0F0;
}

input[type=submit] {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#333;
	background:#CCC;
	border:1px #666 solid;
	width:auto;
	padding: 3px 4px 1px 4px;
}

input[type=submit]:hover {
	color:#CCC;
	background:#333;
	cursor:pointer;
}

input.disabled, input.disabled:hover {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#FFF;
	background:#CCC;
	border:1px #666 solid;
	width:80px;
	height:19px;
	cursor:default;
}

.boton2 {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#FFF;
	background:#F00;
	border:1px #666 solid;
	width:auto;
	padding: 4px 4px 2px 4px;
	text-decoration: none;
}

.boton2:hover {
	color:#F00;
	background:#CCC;
	cursor:pointer;
}

.boton3 {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#333;
	background:#ececec;
	border:1px #666 solid;
	width:auto;
	padding: 3px 4px 1px 4px;
}

.boton3:hover {
	color:#CCC;
	background:#333;
	cursor:pointer;
}

.boton4 {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#333;
	background:#ececec;
	border:1px #666 solid;
	width:auto;
	padding: 4px 4px 2px 4px;
	text-decoration:none;
}

.boton4:hover {
	color:#CCC;
	background:#333;
	cursor:pointer;
}

.contenido {
	text-align:justify;
}

.error {
	color:#F00;
	font-weight:bold;
}

.no_img {
	color:#009;
	font-weight:bold;
}

.link {
	text-decoration: none;
}

#tab-3 ul{
	padding-left: 0px;
}

#tab-3 li{
	list-style: none;
}

#tab-3 ul li ul{
	padding-left: 30px;
}


#num_hoja {
	width: 100%;
	text-align: center;
}

#num_hoja .page{
	color: #999;
	text-decoration: none;
}

#num_hoja .page:hover{
	text-decoration: underline;
}

#num_hoja .page_selected{
	color: #333;
	font-size: 16px;
	text-decoration: none;
}

#cuadros .cuadro_info{
	width: 100%;
	border: 1px solid #999;
	text-align: center;
	margin-top: 10px;
}

#cuadros .cuadro_info h1 {
	margin-top: 0px;
	height: 20px;
	background-color: #999;
	color: #fff;
	text-align: left;
	padding: 3px 10px;
}

#cuadros .cuadro_info ul {
	padding-left: 8px;
	text-align: left;
}
#cuadros .cuadro_info ul li {
	list-style: none;
}
#cuadros .cuadro_info ul li a {
	text-decoration: none;
}
#cuadros .cuadro_info ul li a:hover {
	color:red;
}

.galery_wrapper {
	position:relative;
	top:0;
	left:0;
}

.delete_img_gal {
	position: absolute;
	top: -14px;
	left: 85%;
	width: 30px;
	z-index: 999;
}

.delete_img {
	position: absolute;
	top: -5px;
/* 	left: 200px; */
	width: 30px;
	z-index: 999;
}

.img_gal {
	z-index: 1;
}

#loader_consulta {
	height: 15px;
	width: 70px;
	background-color: red;
	position: absolute;
	bottom: 0;
	right:0;
	color: white;
	padding: 5px;
	font-weight: bold;
	z-index:9999;
}
.btn_borrar_imagen {
	display:none;
	position:absolute;
	top:-5px;
	right:-5px;
	z-index:99;
}
.img_admin {
	float:left;
	position:relative;
}

.lightbox                     { position:fixed; top:0; left:0; height:100%; width:100%; background:rgba(255, 255 ,255 , 0.86); z-index:9999; display:none; font-family: 'Open Sans', sans-serif; }
.lightbox .contenedor         { width:1040px; height:509px; border:1px solid #CFCFCF; margin: 5% auto; -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.1); background:url(../pics/img-lightbox.png) no-repeat; background-color:white; background-position:40px 45px;
box-shadow: 0 0 10px 2px rgba(0,0,0,0.1); }
.lightbox .contenedor .titulo { font-size:36px; line-height:37px; font-family: 'Open Sans', sans-serif; font-weight:300; margin-top:53px; margin-bottom:45px; }
.lightbox .contenedor .text p { font-size:14px !important; font-family: 'Open Sans', sans-serif; font-weight:400; }
.btnazul {
	background-color: ;
	background: url(../pics/mas-btn.png) no-repeat #4C81C6;
	width: auto;
	height: 37px;
	float: right;
	background-position: 15px 7px;
	-webkit-border-radius: 5px;
	margin: 2px 0 0 14px;
	border-radius: 5px;
}
.btnazul a {
	font-size: 16px;
	display: block;
	height: 40px;
	line-height: 38px;
	padding: 0px 20px 0px 48px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
	text-decoration:none;
}
.btn-active{
	color: #fff;
	float: right;
   text-decoration: none;
   background: #4c4c4c;
   padding: 10px 15px;
   border-radius: 3px;
   transition: .5s;
   margin-right: 10px;
}
.btn-active{
	background: #2a2a2a;
}

.activado{
	background: #31B404 !important;
}

.activado:hover{
	background: #298A08 !important;
}

.addImg{
	background: #1682ca;
    color: #fff!important;
    text-decoration: none;
    padding: 7px;
}

.bg_add_img{
	background: rgba(0,0,0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

.content_img_pack{
	position: fixed;
    background: #fff;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    display: none;
}
