#tablewrapper {
	width:100%; 
}

#tableheader {
	height:55px;
}

.search {
	float:left; 
}

#tableheader select {
	float:left; 
	font-size:10px; 
}


#tableheader input {
	float:left; 
	width:225px; 
	margin-left:5px;
}


.details {
	float:right; 
	padding-top:12px;
}

.details div {
	float:left; 
	margin-left:15px; 
	font-size:12px;
}

.tinytable {
	border-left-color: #e5e5e5;
	border-top-color: #e5e5e5;
	width:100%; 
	border-left:1px solid; 
	border-top:1px solid;
	border-bottom:solid #666 1px;

}

.tinytable th {
/*
	border-width: 1px;
	border-style: solid;
*/
	background: #65b2e6; 
	text-align:left; 
	color: #363636;
 	border-right:none;
}

.tinytable th h3 {
	font-size:10px; 
	color: white;
/* 	padding:6px 8px 8px; */
}
	
.tinytable td {
	border-bottom-color: #e5e5e5;
	border-right-color: #e5e5e5;
	/*border-bottom:1px solid;*/ 
	border-right:1px solid #c6c6c6;
	padding:2px 4px 2px; 
}

.tinytable .head h3 {
	background:url(images/sort.gif) 7px center no-repeat; 
	cursor:pointer; 
	/*padding-left:18px;*/
	padding:5px 0 5px 18px;
}

.tinytable .desc, .tinytable .asc {
	background: #666;
}

.tinytable .desc h3 {
	background:url(images/desc.gif) 7px center no-repeat; 
	cursor:pointer; padding-left:18px;
}

.tinytable .asc h3 {
	background:url(images/asc.gif) 7px  center no-repeat; 
	cursor:pointer; padding-left:18px;
}

.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {
	color:#fff;
}

.tinytable .evenrow td {
	background:#fff;
	height: 41px;
}

.tinytable .oddrow td {
	background:#e5e5e5;
	height: 41px;
}

.tinytable td.evenselected {
	background:#f3f3f3;
}

.tinytable td.oddselected {
	background:#e2e4e4;
}

.tinytable tfoot {
	background:#fff; 
	font-weight:bold;
}

.tinytable tfoot td {
	padding:6px 8px 8px;
}

#tablefooter {
	height:15px; 
	margin-top:20px;
}

#tablenav {
	float:left;
}

#tablenav img {
	cursor:pointer;
}

#tablenav div {
	float:left; 
	margin-right:15px;
}

#tablelocation {
	float:right; 
	font-size:12px;
}

#tablelocation select {
	margin-right:3px;
}

#tablelocation div {
	float:left; 
	margin-left:15px;
}

.page {
	margin-top:2px; 
	font-style:italic;
}

#selectedrow td {
	color: #fff;
	background-color: #bfbfbf;
	border-color: #e5e5e5;
}